#web_body{
    height: 90vh;
    position: relative;
}
#web_body .content{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(185, 180, 184);
    padding: 4rem;
    transition: ease-in-out 0.5s;
}
/* SEARCH */
.content .search{
    display: flex;
    align-items: center;
}
.search--input{
    outline: none;
    border: none;
    border-radius: 5px;
    line-height: 1.6rem;
    padding: 0.8rem;
}
/* CONTENT_HEADER */
.content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.content__header div{
    display: flex;
}
.content__header--buttonDel{
    display: none;
    width: 2rem;
    height: 3rem;
}
.content__header--buttonAdd{
    width: 3rem;
    height: 3rem;
}
.content__header--buttonAdd,
.content__header--buttonDel{
    cursor: pointer;
    margin-left: 1rem;
}

/* NOTIFICATION */
.toast_notification{
    position: fixed;
    top: 5px;
    right: 0;
    width: 20rem;
    translate: 100%;
    transition: ease-in-out 0.5s;
    background-color: white;
    border-left: 5px solid green;
}
#toast {
    position: fixed;
    top: 3.2rem;
    right: 3.2rem;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 2rem 0;
    min-width: 40rem;
    max-width: 45rem;
    border-left: 0.4rem solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}


.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 2.4rem;
}

.toast__icon {
    font-size: 2.4rem;
}

.toast__icon,
.toast__close {
    padding: 0 1.6rem;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 1.4rem;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
