#sidebar{
    width: 20rem;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--main-color);
    transition: ease-in-out 0.5s;
    z-index: 99999999;
}
#sidebar ul{
    margin: 0;
    padding: 0;
}
#sidebar li{
    font-size: 1.6rem;
    list-style: none;
    padding: 2.5rem;
    box-shadow: 0 0.1px 0.4px white;
}
#sidebar li:hover{
    cursor: pointer;
    background-color: rgba(0,0,255,0.1);
}
#sidebar .weblogo{

    padding: 5rem;
}

#sidebar .sidebar_items .sidebar_item-icon
{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}
#sidebar .sidebar_items .sidebar_item{
    text-decoration: none;
    color: white;
}