#web_body{
    height: 90vh;
    position: relative;
}

.content{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    background-color: rgb(185, 180, 184);
}
/* FILTER */
#filter_product{
    display: flex;
}
.filter_product-category select,
.filter_product-price select{
    outline: none;
    border: none;
    margin-left: 1rem;
    height: 3rem;
    border-radius: 4px;
}
/* PRODUCTS */
.table_product .product-image{
    margin: auto;
    width: 12rem;
    height: 12rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.table_product .product-description{
    width: 100%;
    height: 12rem;
    border: 0.5px solid silver;
    outline: none;
    padding: 1rem;
}
.table_product  .btn_Edit,
.table_product  .btn_Delete
{
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin-left: 0.2rem;
}
.table_product  .btn_Edit{
    background-color: green;
    border: 1px solid green;
}
.table_product  .btn_Delete{
    border: 1px solid red;
}
.table_wrapper table td:last-child{
    width: 12rem;
}
.table_wrapper table td:first-child{
    width: 1.5rem;
}
.table_wrapper table .col__product-description{
    min-width: 20rem;
}
.table_wrapper table .col__product-name{
    min-width: 10rem;
    font-size: 1.5rem;
}


/* FORM INFOR PRODUCT */
#form-inforProduct{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    z-index: 999;
}
#form-inforProduct #inforProduct_wrapper{
    display: flex;
}
#form-inforProduct .icon_close{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}
#form-inforProduct::-webkit-scrollbar-track{
    background-color: #CFD8DC;
    border-radius:0 1rem 1rem 0;
}
#form-inforProduct::-webkit-scrollbar{
    width: 8px;
}
#form-inforProduct::-webkit-scrollbar-thumb{
    background-color: #90A4AE;
    border-radius: 6px;
    border: 3px solid #CFD8DC;
}
#form-inforProduct__image{
    width: 50rem;
    height: 60rem;
}
#form-inforProduct__image .main-image_wrapper{
    width: 100%;
    height: 50rem;
    padding: 0.5rem;
}
#form-inforProduct__image .main-image{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #90A4AE;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#form-inforProduct__image .list-image{
    position: relative;
    display: flex;
}
#form-inforProduct__image .list-image .image-item_wrapper{
    position: relative;
    height: 10rem;
    width: 10rem;
    padding: 0.5rem;
}

#form-inforProduct__image .list-image .image-item{
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

#form-inforProduct__image .list-image .addImage i{
    color: #90A4AE;
    font-size: 4rem;
    margin: auto;
}

#form-inforProduct__image .list-image .image-item:hover{
    border: 1px solid var(--hover-color);
}
#form-inforProduct__image .list-image .swiper-button-prev,
#form-inforProduct__image .list-image .swiper-button-next{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    color: white;
}
#form-inforProduct__image .list-image .swiper-button-prev{
    left: 0.5rem;
}
#form-inforProduct__image .list-image .swiper-button-next{
    right: 0.5rem;
}

#form-inforProduct__infor{
    flex: 1;
    min-width: 40rem;
    color: black;
    margin-left: 3rem;
    position: relative;
    padding-top: 0.5rem;
}
#form-inforProduct__infor input{
    border: 1px solid black;
    border-radius: 4px;
}
#form-inforProduct__infor input:hover{
    border-color: #1dbfaf;
}
#form-inforProduct__infor section{
    position: relative;
}

#form-inforProduct__infor section span{
    position: absolute;
    font-size: 1.2rem;
    top: 99%;
    left: 0;
    color: #f33a58;
}
#form-inforProduct__infor section.invalid input{
    border-color: #f33a58;
}
#form-inforProduct__infor #product_name{
    width: 30rem;
    font-size: 2.5rem;
    padding: 0.5rem;
}
#form-inforProduct__infor #product_price{
    width: 30rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0.5rem;
    color: var(--hover-color);
}

#form-inforProduct__infor #product_amount{
    margin-bottom: 10rem;
}
#form-inforProduct__infor #product_amount,
#form-inforProduct__infor #product_color,
#form-inforProduct__infor #product_size{
    margin-top: 3rem;
}
#form-inforProduct__infor #product_amount label,
#form-inforProduct__infor #product_color label,
#form-inforProduct__infor #product_size label{
    font-size: 1.6rem;
    color: black;
}
#form-inforProduct__infor #product_amount input,
#form-inforProduct__infor #product_color .list-color input,
#form-inforProduct__infor #product_size .list-size input{
    padding: 0.7rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

#form-inforProduct__infor .button-insert,
#form-inforProduct__infor .button-update{
    display: none;
    position: absolute;
    padding: 1rem;
    min-width: 20rem;
    right: 0;
    bottom: 0;
    color: white;
    background-color: var(--hover-color);
}
#form-inforProduct__infor .button-insert:hover,
#form-inforProduct__infor .button-update:hover{
    transform: rotateY(-15deg);
}
#form-inforProduct__image .icon-minus,
#form-inforProduct__infor .icon-minus
{
    font-size: 1.2rem;
    color: rgb(240, 79, 125);
    cursor: pointer;
    margin-left: -1rem;
}
#form-inforProduct__image .icon-minus{
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
}
#form-inforProduct__infor .icon-plus
{
    font-size: 1.6rem;
    color: green;
    cursor: pointer;
    margin-left: 1rem;
}
#form-inforProduct__description{
    margin-top: 4rem;
    color: black;
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    height: 60rem;
    outline: none;
}