.header
{
    background-color: rgb(12, 55, 52);
    position:sticky;
    top: 0;
    z-index: 1;
}
.logo
{
    height: 50px;
    width: 50px;
}
.navbar-nav .nav-item .nav-link
{
    padding: 8px 24px;
    color: #e5dfdf;
    font-size: 20px;
}

.user
{
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
}
.sub-icon>li
{
    list-style: none;
}

.sub-icon>li .after {
    position: absolute;
    top: 0px;
    right: 7px;
    width: 13px;
    height: 10px;
    border-radius: 40%;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-right: 2px;
    padding-bottom: 1px;
}

.sub-nav
{
    position: absolute;
    list-style: none;
    background-color: white;
    width: 250px;
    margin-top: 10px;
    display: none;
    z-index: 2;
}
.xoay
{
    padding-left: 5px;

}
.sub-nav>li
{
    padding:10px 15px;
    border-bottom: 1px solid #E5E6EC;
}

.sub-nav>li>a
{
    color:black;
    text-decoration: none;
    font-weight: 50px;
}
.sub-nav>li:hover a{
    color:#D92414;
}
.sub-icon
{
    display: flex;
    margin-left: 100px;
    margin-bottom: 0;
}
.menu>li:hover>a{
    color:#D92414;

}
.menu>li:hover .sub-nav{
    display: block;
}
.menu>li:hover .xoay{
    animation-name: xoaylen;
    animation-duration: 0.5s;
    transform: rotate(180deg);
}
@keyframes xoaylen
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(45deg);}
    50%{transform: rotate(90deg);}
    75%{transform: rotate(135deg);}
    100%{transform: rotate(180deg);}
}
.sub-icon
{
    display: flex;
    padding-top: 10px;
    margin-left: 0;
}
.menu>li:hover>a{
    color:#D92414;

}
.sub-icon>li
{
    padding: 0 10px;
}
.sub-icon>li ion-icon
{
    font-size: 20px;
    color:white;
    padding:-3px 0
}
.search
{
    position: absolute;
    transform: translateX(-90%);
    display: none;
    z-index: 2;
    border: none;
}
.search::before
{
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    transform: rotate(-45deg);
    right: 10px;
    top: -5px;
}
.search>input
{
    width: 280px;
    height: 40px;
    padding: 10px;
    border: 0;
}
.dangnhap
{
    width:150px ;
    height: auto;
    background-color: white;
    padding: 10px 20px;
    transform: translateX(-80%);
    margin-top: 10px;
    position: absolute;
    list-style: none;
    display: none;
    z-index: 2;
}
.dangnhap>li>a{
    text-decoration: none;
    color:black;
}
.dangnhap>li{
    padding: 10px 0;
}
.dangnhap::before
{
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top:-10px;
    right: 10px;
    background-color: white;
}
.dangnhap>li:hover a{
    color:#D92414
}
.sub-icon>li:hover .dangnhap{
    display: block;
}
.sub-icon>li:hover ion-icon
{
    color: #D92414;
}
.sub-icon>li:hover .search
{
    display: block;
}
.sub-icon>li
{
    position: relative;
}

.than
{
    padding: 0px 0px 100px;
}

.khung
{
    position: absolute;
    width: 1250px;
    height: 180px;
    background-color: rgb(231, 212, 197);
    top: 525px;
    display: flex;
    left: 130px;
    padding: 15px;
}
.khoi{
    color:#306c60;
    text-align: center;
    padding: 0 10px;
}
.khoi>p{
    font-size: 14px;
    padding-top: 10px;
}

.logo_khung
{
    font-size: 40px;
    color: #306c60;
    padding: 5px;
}
.container
{
    max-width:1200px;
}
.row
{
    display: flex;
}

.menu_sp
{
    width: 1200px;
    height: 1000px;
    margin-left: 180px;
    margin-top: 20px;
}
.menu_sp-item
{
    width: 25%;
    height: fit-content;
    float: left;
    position: relative;
    margin-bottom: 20px;
    left: 25px;
}
.menu_sp-item .item_text a
{
    text-decoration: none;
    color:#3d3c3c;
    font-weight: 100px;
    padding-top:10px;

}
.chitiet{
    height: 250px;
}
.tim{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.item_gia
{
    color:#F97E6C;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
.item_gia>a{
    text-decoration: none;
    color:#F97E6C;
}
.item_text>a{
    color: #333
}

.menu_sp span{
    margin-top: 10px;
}
.item_daban
{
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
}
.item_daban>a{
    color:#BCBCBC;
    text-decoration: none;
}
.item_daban>a:hover{
    color:#BCBCBC;
    text-decoration: none;
}
.layer2
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.layer2>button{
    width: 40px;
    height: 40px;
    background-color: #3d3c3c9f;
    border-radius: 50%;
    text-align: center;
    color:white;
    border: none;
    position: absolute;
    top:40px;
    right: 10px;
}
.layer2>button>ion-icon
{
    font-size: 25px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.menu_sp-item:hover .layer2{
    transition: 1s;
    display: block;
}

.bread-crumb{
    color:#a2a2a2;
}
.bread-crumb, .bread-crumb .breadcrumb {
    background: #F6F6F6;
}
.bread-crumb span{
    font-weight: normal;
    font-size: 14px;
}
.bread-crumb strong {
    color: black;
}

.pagination {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination a {
    display:none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    display: block;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.footer
{
    background-color: #122c27;
    padding-bottom: 40px;
    margin-top: 50px;
}

.text_footer
{
    color: #ffffff;
    padding: 5px 10px;
}

.footer_title
{
    font-size: 16px;
    margin-bottom: 16px;
    color:#ffffff
}
.footer_block
{
    padding: 70px 0;
    padding-bottom: 40px;
}

.form_register button{
    background-color: #122c27;
    color: #fff;
    border-radius: 30px;
    border: 0;
    position: absolute;
    bottom: 133px;
    right: -11px;
    height: 38px;
    width: 85px;
}
.form_register input{
    border-radius: 30px;
    border: 0;
    width: 300;
    height: 40;
    padding-right: 90px;
    margin-bottom: 10px;
}
.form_register button:hover{
    background-color: #15453a;

}
.list_menu
{
    list-style: none;
    padding: 0px;
    text-decoration: none;
}
.list_menu>li{
    padding-top: 5px;
}
a:hover{
    text-decoration: none;
    color: #fe6b5e;
}
.link{
    color:#797676
}
.list_menu .link{
    color:#ffffff;
}


.follow_option
{
    display: flex;
    padding: 5px 3px;
    gap: 15px;
    height: 45px;
    line-height: 33px;
    border-radius: 6px;
    align-items: center;
    list-style: none;
    margin-left: 10px;
}
.icon
{
    padding: 3px;
}
.bank
{
    margin-top: 10px;
}

.nguoidung
{
    width:150px ;
    height: auto;
    background-color: white;
    padding: 10px 20px;
    transform: translateX(-80%);
    margin-top: 10px;
    position: absolute;
    list-style: none;
    display: none;
    z-index: 2;
}
.nguoidung>li>a{
    text-decoration: none;
    color:black;
}
.nguoidung>li{
    padding: 10px 0;
}
.nguoidung::before
{
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top:-10px;
    right: 10px;
    background-color: white;
}
.nguoidung>li>a:hover {
    color:#D92414
}
